<html>
  <head>
    <title> Simple Login and Register Change Password Page </title>
  </head>
  <body>
    <center>
      <h1> Change Password Page </h1>
      {{#if successMessage }}
        <p> {{successMessage}} </p>
      {{/if}}
      
      {{#if errorMessage }}
        <p> {{errorMessage}} </p>
      {{/if}}
      
      <form action="/change-password" method="POST">
        <label> Current Password </label>
        <input type="password" name="currentPassword" required><br><br>
         <label> New Password </label>
        <input type="password" name="newPassword" minlength="7" required><br><br>
        <input type="submit" value="Submit">
        <a href="/dashboard">Cancel</a>
      </form>
    </center>
  </body>
</html>