<html>
  <head>
    <title> Dashboard Page </title>
  </head>
  <body>
    <center>
      <h1> Dashboard Page </h1>
      <p> User Logged in as {{emailAddress}}</p> <br>
      <a href="/change-password"> Change Password </a>
      <a href="/logout"> Logout </a>
    </center>
  </body>
</html>