<html>
  <head>
    <title> Simple Login and Register Reset Password Page </title>
  </head>
  <body>
    <center>
      <h1> Reset Password Page </h1>
      <form action="/reset-password" method="POST">
        <label> Password </label>
        <input type="password" name="password" minlength="7" required>
        <input type="submit" value="Submit">
      </form>
    </center>
  </body>
</html>